
.parent{
  display: flex;
 justify-content: center;
 align-items: center;
  padding: 20px;
  width: 100vw;
  height: 100vh;

}
.card{
width: 700px;
height: 300px;
  text-align: center;
  background-color: crimson;
  border-radius: 20px;
  h1{
    color: white;
    font-size: 80px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
  }
  p{
    font-size: 40px;
     color: white;
  }
}
