*{
    margin:0;
     padding:0;
     box-sizing:border-box
}
main{
    width: 100%;
    padding: 1.5rem;
}
.hero-text{
    width:100%;
    img{
        width: 100%;
        object-fit: cover;
    }
    .text{
       display: flex;
       justify-content: space-between;
       padding-top: 1rem;
       font-family: monospace;
    }
}
.hero-image{
    width: 100%;
    padding-top: 1.3rem;
    img{
        width: 100%;
        object-fit: cover;
    }
    .para{
        font-size: 60px;
        font-weight: 300;
    }
    .para-1{
        font-size: 30px;
        font-weight: 350;
    }
    .four{
        width: 100%;
      .brand{
        display: flex;
        justify-content: space-between;
        font-size: 35px;
        font-weight: 300;
      }
    }
    .image-3{
        width: 100%;
        padding-top:1.3rem;
        img{
            width: 100%;
            object-fit: cover;
        }
    }
}
.third{
    width: 100%;
    padding: 1.5rem;
    .tailored{
        width: 100%;
        .tail-h{
            font-size: 50px;
            font-weight: 400;
        }
     
    }
}
.tail-text{
            font-size: 20px;
            font-family: monospace;
            color: grey;
        }

      